* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 1.4vw;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, right top, from(white), to(#00e1ff));
    background: linear-gradient(90deg, white, #5ae6f8);
    z-index: -1;
}

body:before {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    -webkit-mask-image: linear-gradient(to bottom, transparent, black);
    mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    mask-image: linear-gradient(to bottom, transparent, black);
    background: -webkit-gradient(linear, left top, right top, from(#3f6be4), to(#0e0c66));
    background: linear-gradient(90deg, #2152da, #0e0c66);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    font-weight: 500;
}

h3 {
    font-size: 3.8rem;
    font-weight: 200;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
}

.wi {
    font-size: 6rem;
    width: 7rem;
    height: auto;
    margin: 1rem;
    color: #fff;
}

.localizacion,
.temperatura {
    height: 20vh;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.temperatura {
    flex-direction: column;
    color: #fff;
    margin-top: 1rem;
}

.grados,
.humedad-relativa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.humedad-relativa,
.descripcion {
    margin-top: 1rem;
}

@media all and (max-width:769px) {

html {
    font-size: 2.2vw;
    color: #fff;
}

h1 {
     font-size: 6rem;
}

}
